@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

body {
    background-color: #F7F7F7;
}

::selection, ::-moz-selection {
    color: black;
    background: #EDDCC4;
}

@layer base {
    .checkbox-container {
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid #EDDCC4;
        border-radius: 8px;
        position: absolute;
        left: 0;
        transition: .1s;
    }
    input[type=checkbox], input[type=radio] {
        /* visibility: hidden; */
        opacity: 0;
        z-index: 111;
    }
    input:checked~.checkbox-container {
        background-color: #EDDCC4;
    }
    input:checked~.checkbox-container::after {
        display: block;
    }
    .checkbox-container::after {
        content: "";
        position: absolute;
        display: none;
        left: 9.5px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

@layer utilities {
    .stop-scrolling {
        animation-play-state: paused;
    }
}

.logo {
    filter: contrast(0) grayscale(100%) brightness(65%);
    height: 100%;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.animate-scroll {
    transform-origin: center;
    animation: scroll 14s linear infinite;
}

/* @keyframes scroll {
    0% {
        transform: rotate(0) translateX(0) translateY(0);
    }
    10% {
        transform: rotate(4deg) translateX(-250px) translateY(35px);
        background-color: red;
    }
    20% {
        transform: rotate(8deg) translateX(-500px) translateY(35px);
        background-color: blue;
    }
    30% {
        transform: rotate(12deg) translateX(-750px) translateY(45px);
        background-color: green;
    }
    40% {
        transform: rotate(18deg) translateX(-1000px) translateY(100px);
        background-color: yellow;
    }
    50% {
        transform: rotate(22deg) translateX(-1250px) translateY(150px);
        background-color: gray;
    }
    60% {
        transform: rotate(28deg) translateX(-1500px) translateY(300px);
        background-color: purple;
    }
    70% {
        transform: rotate(32deg) translateX(-1750px) translateY(500px);
        background-color: cyan;
    }
    80% {
        transform: rotate(36deg) translateX(-2000px) translateY(600px);
    }
    90% {
        transform: rotate(40deg) translateX(-2250px) translateY(700px);
    }
    to {
        transform: rotate(44deg) translateX(-2500px) translateY(800px);
    }
} */

@keyframes scroll {
    from {
        transform: translateX(0) rotate(0) translateY(0);
    }

    25% {
        transform: translateX(calc(-217px * 1.75)) rotate(8.75deg) translateY(187.5px);
    }

    50% {
        transform: translateX(calc(-217px * 3.5)) rotate(17.5deg) translateY(375px);
    }

    75% {
        transform: translateX(calc(-217px * 5.25)) rotate(26.25deg) translateY(502px);
    }

    to {
        transform: translateX(calc(-217px * 7)) rotate(35deg) translateY(550px);
    }
}

.phone:nth-of-type(1) {
    transform: rotate(15deg) translateY(-120px);
}

.phone:nth-of-type(2) {
    transform: rotate(10deg) translateY(-70px);
}

.phone:nth-of-type(3) {
    transform: rotate(5deg) translateY(-40px);
}

.phone:nth-of-type(4) {
    transform: rotate(0deg) translateY(-30px);
}

.phone:nth-of-type(5) {
    transform: rotate(-5deg) translateY(-40px);
}

.phone:nth-of-type(6) {
    transform: rotate(-10deg) translateY(-70px);
}

.phone:nth-of-type(7) {
    transform: rotate(-15deg) translateY(-120px);
}


/* .phone:nth-of-type(0) {
    --rotation: 25deg;
    --x: -970px;
    --y: -170px;
} */

/* .phone:nth-of-type(1) { */
    /* --rotation: 15deg; */
    /* --x: -740px; */
    /* --y: -90px; */
/* } */

/* .phone:nth-of-type(2) { */
    /* --rotation: 10deg; */
    /* --x: -500px; */
    /* --y: -40px; */
/* } */

/* .phone:nth-of-type(3) { */
    /* --rotation: 5deg; */
    /* --x: -250px; */
    /* --y: -20px; */
/* } */

/* .phone:nth-of-type(4) { */
    /* --rotation: 0deg; */
    /* --x: 0px; */
    /* --y: 0px; */
/* } */

/* .phone:nth-of-type(5) { */
    /* --rotation: -5deg; */
    /* --x: 240px; */
    /* --y: 0px; */
/* } */

/* .phone:nth-of-type(6) { */
    /* --rotation: -10deg; */
    /* --x: 480px; */
    /* --y: -30px; */
/* } */

/* .phone:nth-of-type(7) { */
    /* --rotation: -15deg; */
    /* --x: 720px; */
    /* --y: -80px; */
/* } */

/* .phone:nth-of-type(8) {
    --rotation: -20deg;
    --x: 960px;
    --y: -160px;
}

.phone:nth-of-type(9) {
    --rotation: -25deg;
    --x: 1190px;
    --y: -250px;
}

.phone:nth-of-type(10) {
    --rotation: -30deg;
    --x: 1410px;
    --y: -360px;
}

.phone:nth-of-type(11) {
    --rotation: -35deg;
    --x: 1620px;
    --y: -490px;
}

.phone:nth-of-type(12) {
    --rotation: -40deg;
    --x: 1820px;
    --y: -630px;
}

.phone:nth-of-type(13) {
    --rotation: -45deg;
    --x: 2010px;
    --y: -790px;
} */