@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #F7F7F7;
    overflow-x: hidden;
}

::selection, ::-moz-selection {
    color: black;
    background: #EDDCC4;
}

@layer base {
    .checkbox-container {
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid #EDDCC4;
        border-radius: 8px;
        position: absolute;
        left: 0;
        transition: .1s;
    }
    input[type=checkbox], input[type=radio] {
        opacity: 0;
        z-index: 111;
    }
    input:checked~.checkbox-container {
        background-color: #EDDCC4;
    }
    input:checked~.checkbox-container::after {
        display: block;
    }
    .checkbox-container::after {
        content: "";
        position: absolute;
        display: none;
        left: 9.5px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}

@layer utilities {
    .stop-scrolling {
        animation-play-state: paused;
    }
}

.logo {
    filter: contrast(0) grayscale(100%) brightness(65%);
    height: 100%;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


.x:hover::before,
.insta:hover::before,
.linkedin:hover::before,
.threads:hover::before {
    transition: .3s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.x:hover::after,
.insta:hover::after,
.linkedin:hover::after,
.threads:hover::after {
    transition: .3s;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.x::before,
.insta::before,
.linkedin::before,
.threads::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 108%;
    transform: translateX(-50%) translateY(-10px);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7.5px 10.0px 7.5px;
    border-color: transparent transparent #222222 transparent;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.x::after,
.insta::after,
.linkedin::after,
.threads::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    top: 145%;
    color: #F7F7F7;
    background-color: #222222;
    padding: 7px 15px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    z-index: 200;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.x::after { content: "@vitalsocials"; }
.insta::after { content: "@vitalsocials.co"; }
.threads::after { content: "@vitalsocials.co"; }

.linkedin::after { 
    content: "Tj Francois";
    width: 117px
}

.mobile-link.active {
    font-weight: bold;
}


.link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .3s;
}

.link:hover::after, .link.active::after {
    width: 50%;
}

.send-btn:hover::after {
    width: 100%;
    color: black;
}

.send-btn div {
    position: relative;
    z-index: 100;
}

.send-btn::after {
    content: "";
    position: absolute;
    background-color: #EDDCC4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    width: 0;
    transition: .3s;
}


@media screen and (max-width: 487px) {
    .g {
        gap: 0px;
    }
}


/* HAMBURGER */

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    width: 30px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: transform 0.3s ease;
}

.hamburger .line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: transform 0.3s ease;
}

.hamburger .line:nth-child(1) {
    top: 0;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

.hamburger.collapsed .line:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.collapsed .line:nth-child(2) {
    opacity: 0;
}

.hamburger.collapsed .line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}


/* Videos */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: none !important;
}


.animate-scroll {
    transform-origin: center;
    animation: scroll 22s linear infinite;
}

/* .animate-scroll:hover {
    animation-play-state: paused;
} */

/* .animate-stop:hover {
    animation-play-state: paused;
} */

.animate-stop:hover .animate-scroll {
    animation-play-state: paused;
}

.stop-carousel {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0) rotate(0) translateY(0);
        /* background-color: green; */
    }

    25% {
        transform: translateX(calc(-223px * 2)) rotate(10deg) translateY(315px);
        /* background-color: black; */
    }

    50% {
        transform: translateX(calc(-223px * 4)) rotate(20deg) translateY(560px);
        /* background-color: yellow; */
    }

    75% {
        transform: translateX(calc(-223px * 6)) rotate(30deg) translateY(740px);
        /* background-color: blue; */
    }

    to {
        transform: translateX(calc(-223px * 8)) rotate(40deg) translateY(845px);
        /* background-color: pink; */
    }
}

.team {
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 385px;
}

.alexa { background-image: url('/team/alexa.jpeg'); }
.shianne { background-image: url('/team/shianne.jpg'); }
.xeo { background-image: url('/team/xeo.jpg'); }
.jayne { background-image: url('/team/jayne.jpg'); }
.jasmin { background-image: url('/team/jasmin.JPG'); }
.sierra { background-image: url('/team/sierra.jpg'); }
.frances { background-image: url('/team/frances.jpg'); }
.abby { background-image: url('/team/abby.JPG'); }
.diane { background-image: url('/team/diane_and_wayne.jpg'); }
.tommi { background-image: url('/team/tommi.JPG'); }


section {
    animation: firstAppear forwards .5s;
}

@keyframes firstAppear {
    from {
        opacity: 0;
        transform: scale(.95) translateY(50px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}


/* Process section */
@media screen and (max-width: 1504px) and (min-width: 1472px) {
    .process-phones {
        left: -18rem !important;
    }
}

@media screen and (min-width: 1402px) {
    .process-phones2 {
        right: -33rem !important;
    }
}

@media screen and (max-width: 1472px) and (min-width: 1440px) {
    .process-phones {
        left: -16rem !important;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1280px) {
    .process-phones {
        left: -15rem !important;
    }
}

@media screen and (max-width: 1430px) and (min-width: 1280px) {
    .process-phones2 {
        right: -37rem !important;
    }
    .step3 {
        margin-right: 17rem !important;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1120px) {
    .process-phones2 {
        right: -30rem !important;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    .process-phones {
        left: -16rem !important;
    }
    .process-phones2 {
        right: -30rem !important;
    }
    .step3 {
        margin-right: 22rem !important;
    }
}

@media screen and (max-width: 1070px) and (min-width: 1000px) {
    .process-phones {
        left: -15rem !important;
    }
}

@media screen and (max-width: 1050px) and (min-width: 1024px) {
    .process-phones {
        left: -14rem !important;
    }
}


.phone {
    pointer-events: none;
}

.phone-process-1 {
    transform: rotate(-6deg) translateY(-185px);
}

.phone-process-2 {
    transform: rotate(0deg) translateY(-190px);
}

.phone-process-3 {
    transform: rotate(6deg) translateY(-185px);
}

.phone:nth-of-type(1) {
    transform: rotate(20deg) translateY(-205px);
}

.phone:nth-of-type(2) {
    transform: rotate(15deg) translateY(-125px);
}

.phone:nth-of-type(3) {
    transform: rotate(10deg) translateY(-70px);
}

.phone:nth-of-type(4) {
    transform: rotate(5deg) translateY(-40px);
}

.phone:nth-of-type(5) {
    transform: rotate(0deg) translateY(-30px);
}

.phone:nth-of-type(6) {
    transform: rotate(-5deg) translateY(-40px);
}

.phone:nth-of-type(7) {
    transform: rotate(-10deg) translateY(-70px);
}

.phone:nth-of-type(8) {
    transform: rotate(-15deg) translateY(-125px);
}

/* PORTFOLIO SECTION CENTERING */

@media screen and (min-width: 2100px) {
    .animate-scroll {
        left: 3%;
    }

    .portfolio-section {
        margin-top: -5rem !important;
        padding-top: 3rem !important;
    }
}

@media screen and (max-width: 2100px) {
    .animate-scroll {
        left: 0%;
    }

    .portfolio-section {
        margin-top: -7rem !important;
        padding-top: 3rem !important;
    }
}

@media screen and (max-width: 2000px) {
    .animate-scroll {
        left: -3%;
    }

    .portfolio-section {
        margin-top: -8rem !important;
        padding-top: 3rem !important;
    }
}

@media screen and (max-width: 1870px) {
    .animate-scroll {
        left: -5%;
    }

    .portfolio-section {
        margin-top: -9rem !important;
    }
}

@media screen and (max-width: 1770px) {
    .animate-scroll {
        left: -10%;
    }

    .portfolio-section {
        margin-top: -9.5rem !important;
    }
}

@media screen and (max-width: 1675px) {
    .animate-scroll {
        left: -15%;
    }
    .portfolio-section {
        margin-top: -10.5rem !important;
    }
}

@media screen and (max-width: 1600px) {
    .animate-scroll {
        left: -15%;
    }

    .portfolio-section {
        margin-top: -11.5rem !important;
    }
}

@media screen and (max-width: 1540px) {
    .animate-scroll {
        left: -20%;
    }
    .portfolio-section {
        margin-top: -12rem !important;
        margin-bottom: -30rem;
    }
}

@media screen and (max-width: 1400px) {
    .animate-scroll {
        left: -25%;
    }
    .portfolio-section {
        margin-top: -13.5rem !important;
        margin-bottom: -30rem;
    }
}

@media screen and (max-width: 1340px) {
    .animate-scroll {
        left: -30%;
    }
}

@media screen and (max-width: 1280px) {
    .portfolio-section {
        margin-top: -7rem !important;
        margin-bottom: -30rem;
    }
}

@media screen and (max-width: 1240px) {
    .animate-scroll {
        left: -35%;
    }
}

@media screen and (max-width: 1200px) {
    .animate-scroll {
        left: -40%;
    }
    .portfolio-section {
        margin-top: -7rem !important;
        margin-bottom: -30rem;
    }
}

@media screen and (max-width: 1140px) {
    .animate-scroll {
        left: -45%;
    }
    .portfolio-section {
        margin-top: -8rem !important;
        margin-bottom: -30rem;
    }
}

@media screen and (max-width: 1040px) {
    .animate-scroll {
        left: -55%;
    }
}

@media screen and (max-width: 940px) {
    .animate-scroll {
        left: -70%;
    }
}

@media screen and (max-width: 840px) {
    .animate-scroll {
        left: -80%;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-section {
        margin-top: -15rem !important;
        margin-bottom: 8rem;
    }
}

@media screen and (max-width: 740px) {
    .animate-scroll {
        left: -90%;
    }
}

@media screen and (max-width: 640px) {
    .animate-scroll {
        left: -120%;
    }
    
}

@media screen and (max-width: 540px) {
    .animate-scroll {
        left: -150%;
    }
    
}

@media screen and (max-width: 440px) {
    .animate-scroll {
        left: -190%;
    }
}

@media screen and (max-width: 400px) {
    .animate-scroll {
        left: -230%;
    }
}